<div class="slider movie-items">
	<div class="row">
		<div class="">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form  [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input  formControlName="email"  placeholder="email address" class="form-control"  type="email">
                          <div style="color: crimson;"
                          *ngIf="forgetForm.get('email').touched && forgetForm.get('email').hasError('required')">
                          required</div>
                          <div style="color: crimson;" *ngIf="this.forgetForm.get('email').hasError('email')">
                              Email Not Valid</div>
                              
                        </div>
                      </div>
                      <div class="row">
                        <button  [disabled]="forgetForm.invalid" type="submit" class="ResetButton">Reset Your Password</button>
                   </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>