
  
  <div class="table-wrapper">
    <h1 style="    text-align: center;">Show All Users</h1>
    <button class="addbutton addbutton2"><a routerLink="adduser">Add New User</a></button>
      <table class="fl-table">
          <thead>
          <tr>
              <th>UserName</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Country</th>
              <th>Control</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
              <td>{{user.userName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phoneNumber}}</td>
              <td>{{user.country}}</td>
              <td><button class="button button2" (click)="EditUserURL(user.id)" >Edit</button></td>
          </tr>
          <tbody>
      </table>
  </div>
