
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>{{title}}</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form [formGroup]="userForm" (ngSubmit)="createUser()">

          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="name" placeholder="User Name" formControlName="userName" (blur)="isUserNameExist()"/>
                <div style="color: crimson;"
                *ngIf="this.userForm.get('userName').touched  && this.userForm.get('userName').hasError('required')">
                required</div>
              <div style="color: crimson;"
                *ngIf="this.userForm.get('userName').value!==null  && this.userForm.get('userName').value!==''">
                {{messageValidate.userName.matchuserName}}
              </div>
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber" />
                <div style="color: crimson;"
                *ngIf="this.userForm.get('phoneNumber').touched && this.userForm.get('phoneNumber').hasError('required')">
                required</div>
              </div>
            </div>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="email" name="email" placeholder="Email" formControlName="email" (blur)="isEmailExist()" />
            <div style="color: crimson;"
            *ngIf="userForm.get('email').touched && userForm.get('email').hasError('required')">
            required</div>
          <div style="color: crimson;" *ngIf="this.userForm.get('email').hasError('email')">
            Email No Valid</div>
  
          <div style="color: crimson;"
            *ngIf="this.userForm.get('email').value!==null  && this.userForm.get('email').value!==''">
            {{messageValidate.email.matchEmail}} </div>
          </div>


          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="password" placeholder="Password" formControlName="password" />
            <div style="color: crimson;"
          *ngIf="this.userForm.get('password').touched && this.userForm.get('password').hasError('required')">
          required</div>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="passwordConfirm" placeholder="Re-type Password" formControlName="passwordConfirm"/>
            <div style="color: crimson;"
            *ngIf="this.userForm.get('passwordConfirm').touched && this.userForm.get('passwordConfirm').hasError('required')">
            required</div>
          <div style="color: crimson;" *ngIf="isPasswordMatch()">
            Not Match</div>
          </div>


          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="country" placeholder="Country" formControlName="country" />
              </div>
            </div>
          </div>
            <div class="input_field checkbox_option">
            	<input formControlName="emailConfirmed" type="checkbox" id="cb1">
    			<label for="cb1">Activate Email</label>
            </div>

          <button type="submit" class="button" [disabled]="userForm.invalid || isPasswordMatch()|| isEmailExist()|| isUserNameExist()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
