<div class="slider movie-items">
	<div class="row">
		<div class="">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x" style=" color: aliceblue;"></i></h3>
                  <h2 class="text-center" style=" color: aliceblue;">Reset Your Password</h2>
                  <p>You Can Add New Password Her.</p>
                  <div class="panel-body">
                    <form  [formGroup]="passConfirmForm" (ngSubmit)="passConfirm()">
                        <div class="row form-group">
                            <label for="password-2" style="color: wheat;">
                                New Password:
                                <input class="form-control" type="password" formControlName="password" name="password" id="password-2" placeholder="password" />
                                <div style="color: crimson;"
                                    *ngIf="this.passConfirmForm.get('password').touched && this.passConfirmForm.get('password').hasError('required')">
                                    required</div>
                    
                                <div style="color: crimson;" *ngIf="passConfirmForm.get('password').hasError('minlength')">
                                    minimum length is 4</div>
                            </label>
                        </div>
                        <div class="row">
                            <label for="repassword-2" style="color: wheat;">
                                re-type Password:
                                <input class="form-control"  type="password" formControlName="passwordConfirm" name="password" id="repassword-2" placeholder="re-type Password"
                                     />
                                <div style="color: crimson;"
                                    *ngIf="this.passConfirmForm.get('passwordConfirm').touched && this.passConfirmForm.get('passwordConfirm').hasError('required')">
                                    required</div>
                                <div style="color: crimson;" *ngIf="isPasswordMatch()">
                                    Not Match</div>
                        
                            </label>
                        </div>
                      <div class="row">
                        <button  [disabled]="passConfirmForm.invalid || isPasswordMatch()" type="submit" class="ResetButton">Save Your New Password</button>
                   </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>