<div class="table-wrapper" style="font-size: 24px;">
    <button class="addbutton addbutton2"><a href="addcategory">Add New Category</a></button>


    <i (click)="DeleteCount()" *ngIf="IsDelete()" style="padding-left: 2%;color: brown; cursor: pointer;"
        class="fa fa-trash fa-10x"></i>

    <table id="tbl" class="fl-table">
        <thead>
            <tr>
                <th>
                    <input style="cursor: pointer" type="checkbox" class="ckheader" (change)="SelectAll()">
                </th>
                <th>Category Name</th>
                <th>Control</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td><input style="cursor: pointer;" type="checkbox" class="ckitem" value="{{category.id}}"></td>
                <td>{{category.categoryName}}</td>
                <td><button class="button button2" (click)="EditCategoryURL(category.id)">
                        <i class="fa fa-edit"></i></button>
                    <button class="Deletebutton Deletebutton2" (click)="DeleteConfirm()">
                        <i class="fa fa-user-times"></i></button></td>
            </tr>
        <tbody>
    </table>
</div>
<!-- The Modal -->

<!-- MODAL BUTTON -->
<div id="modal-btn">
    <button id="btn" (click)="DeleteCount()" [disabled]="!IsDelete()"> Delete</button>
    <div id="content">
        <i id="close" class="fa fa-window-close">Close</i>
        <p>Are You Sure To Delet This!</p>
        <button id="close-btn" (click)="DeleteConfirm()">Yes</button>

    </div>

</div>