
<div class="wrapper">
    <div class="sidebar">
      <div class="bg_shadow"></div>
        <div class="sidebar__inner">
           <div class="close">
          <i class="fas fa-times"></i>
        </div>
        <div class="profile_info">
            <div class="profile_img">
              <img src="assets/images/admin.jpg" alt="profile_img">
            </div>
            <div class="profile_data">
                <p class="name">Admin</p>  
                <p class="role">Manager</p>
                <div class="btn">Update Profile</div>
            </div>
        </div>
        <ul class="siderbar_menu">
            <li><a href="#" class="active">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <div class="title">Dashboard</div>
              </a></li>  
          <li><a href="#" >
              <div class="icon"><i class="fa fa-newspaper"></i></div>
              <div class="title">Jobs</div>
              </a></li>  
          <li><a href="#">
              <div class="icon"><i class="fa fa-file-alt"></i></div>
              <div class="title">Documents</div>
              </a></li>  
          <li><a href="#">
              <div class="icon"><i class="fa fa-cog"></i></div>
              <div class="title">Settings</div>
              </a></li>  
          <li><a href="#">
              <div class="icon"><i class="fa fa-question-circle"></i></div>
              <div class="title">Help</div>
              </a></li>  
        </ul>
      </div>
    </div>
    <!-- <div class="main_container">
      <div class="top_navbar">
          <div class="hamburger">
              <div class="hamburger__inner">
                  <i class="fas fa-bars"></i>  
              </div>  
          </div>
         <ul class="menu">
            <li><a href="#" class="active">Blogs</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
         </ul>
         <ul class="right_bar">
            <li><i class="fas fa-search"></i></li>
            <li><i class="fas fa-sign-out-alt"></i></li> 
         </ul>
      </div>
    
      
    </div> -->
</div>